.pick-container {
    display: flex;
    justify-content: center;
}

.pickList-container, .pickFolders-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 40%;
    box-sizing: border-box;
}

.storeName {
    border: none;
    background-color: white;
    cursor: pointer;
}

.storeName:hover {
    text-decoration: underline;
}

.pickList-button-container {
    text-align: right;
    color: lightgray;
    border: none;
    background-color: white;
}

.pickFolders-button-container {
    text-align: right;
    color: lightgray;
    border: none;
    background-color: white;
}

.pickList-button-container button {
    color: lightgray;
    border: none;
    background-color: white;
}