@charset "UTF-8";

table {
    width:600px;
    border-collapse: collapse;
    margin: 20px 0;
}

td, th {
    padding: 10px;
    text-align: left;
}
td:nth-child(2){
    width: 70%;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #f5ba00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: saddlebrown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(222, 201, 171);
}